<div class="container main-container">
  <div class="row margin">
    <h1> Net salary calculator </h1>
    <p> This is a net salary calculator. Please, insert your gross salary: </p>
  </div>
  <div class="row margin">
    <label id="grossIncomeLabel" for="income">Gross Income</label>
    <input 
      type="number" 
      class="form-control" 
      id="income"
      (keyup.enter)="calculateTaxes()"
      [(ngModel)]="income" >
  </div>
  <div class="row margin">
    <label id="numberOfPaysLabel" for="numberOfPays">Number of Pays</label>
    <input 
      type="number" 
      class="form-control" 
      id="numberOfPays"
      (keyup.enter)="calculateTaxes()"
      [(ngModel)]="numberOfPays" >
  </div>
  <div class="row margin">
    <button 
      id="calculateButton"
      class="btn btn-primary"
      (click)="calculateTaxes()">
      Calculate
    </button>
  </div>
  <div *ngIf="isCalculated" class="alert alert-primary" role="alert">
    Your Net Salary will be:  <span id="yearlyResult"> {{netYearlySalary}} </span>
  </div>
  <div *ngIf="isCalculated" class="alert alert-primary" role="alert">
    Your Monthly Salary will be:  <span id="monthlyResult"> {{netMonthlySalary}} </span>
  </div>
</div>